* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@media (max-width: 420px) {
    html {
        font-size: 11px;
    }

    .container {
        align-items: center;
        padding: 0 12px;
    }
}

body {
    font-family: Vollkorn, Arial, sans-serif;
    background: #FFFCF5;
}

image, img {
    max-width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    line-height: 1.5625rem;
    font-weight: 500;
    font-size: 1.125rem;
    text-decoration: none;
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.8;
}

p {
    line-height: 2rem;
    font-weight: 400;
    font-size: 1.25rem;
}

.centered {
    text-align: center;
}

h1, h2, h3 {
    font-family: PlayFair Display, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 6.5rem;
    line-height: 1.04;
    margin-bottom: 4rem;
}

h2 {
    font-size: 4.5rem;
    line-height: 1.04;
    margin-bottom: 1.5rem;
}

h3 {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.6;
}

.header {
    background-color: #fffcf5;
    align-items: center;
    padding: 1.5rem 0;
    font-size: 1.125rem;
    gap: 1.25rem;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-nav {
    display: flex;
    gap: 80px;
}

.header-nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #000;
    font-weight: 500;
    margin: auto 0;
}

.header-mobile-switcher {
    display: none;
    cursor: pointer;
}

.mobile-nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF8E8;
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    align-items: flex-start;

}

.mobile-nav-menu-links, .mobile-nav-footer-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-nav-menu-links > a {
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'PlayFair Display', serif;
    font-weight: 400;
    line-height: 1.05;
}

.mobile-nav-footer-links {
    gap: 16px;
}




.header-logo {
    font: 1.75rem Vollkorn, sans-serif;
    font-weight: 500;
}

.nav-link {
    font-family: Vollkorn, sans-serif;
    margin: auto 0;
}

.nav-link-active {
    font-family: Vollkorn, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
}

.header-actions {
    display: flex;
    gap: 12px;
}


button.button {
    padding: 20px;
    width: 400px;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
}

button.button.small {
    padding: 12px 24px;
    width: unset;
}

button.button:hover {
    opacity: 0.8;
}

.button.button:active {
    opacity: 0.6;
}

.button.button.transparent {
    background: none;
    border: 1px solid #B37F11;
    color: #B37F11;
}

.button.button.filled {
    background: #B37F11;
    border: none;
    color: #FFF;
}


.language-switcher {
    position: relative;
}

.language-switcher:hover {
    opacity: 0.8;
}

.language-switcher select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    font-size: 1.125rem;
    padding: 12px 34px 12px 24px;
    background-color: unset;
    border: 1px solid #B37F11;
    color: #B37F11;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
}

.language-switcher select:focus-visible {
    outline: none;
}


.language-switcher::before,
.language-switcher::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 15px;
    pointer-events: none;
}


.language-switcher::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #B37F11;
    top: 45%;
}


/* footer start */

.footer-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-nav-col {
    display: flex;
    gap: 48px;
}

.footer > .container {
    border-top: 1px solid #B37F11;
    padding: 40px 0;
}

/* footer end */


/* main start */

.main {
    padding: 63px 0 120px 0;
}

.main > .container {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

section.hero {

}


.hero-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 64px;
    position: relative;
}

.hero-heading::after {
    content: "";
    position: absolute;
    background-image: url("../assets/images/main/star.svg");
    right: 104px;
    width: 56px;
    height: 56px;
    top: 15%;
}

.hero-heading::before {
    content: "";
    position: absolute;
    background-image: url("../assets/images/main/star.svg");
    left: 104px;
    width: 56px;
    height: 56px;
    top: 15%;
}

.hero-text {
    max-width: 369px;
    position: absolute;
    left: 0;
    top: -25px;
}

.hero .button {
    position: absolute;
    top: 0;
    right: 0;
}

.hero-image {
    position: relative;
}

.history {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.history-heading {
    text-transform: uppercase;
    margin-bottom: 24px;
    position: relative;
}

.history .col-text {
    flex: 1;
}

.history-text {
    margin-bottom: 20px;
}


.wine-catalog-heading {
    text-align: center;
    margin-bottom: 64px;
}

.wine-catalog-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.wine-item {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.wine-item-image {
    background: #F5EFE0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 490px;
    cursor: pointer;
}

.wine-item-image > image {
    max-width: 100%;
}

.wine-item-type {
    position: absolute;
    top: 3%;
    left: 3%;
    border: 1px solid #B37F11;
    border-radius: 100px;
    text-align: center;
    color: #B37F11;
    padding: 5px 12px;
}

.wine-item-title {
    display: flex;
    justify-content: space-between;
}

.wine-item-name {
    font-size: 1.75rem;
    color: #B37F11 !important;
}

.wine-item-percentage {
    font-size: 1.25rem;
    color: black;
}

.wine-item-desc {

}

.wine-watch-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 40px;
    padding: 20px 0;
}

.wine-watch-all > .line {
    flex: 1;
    border-top: 1px solid #B37F11;
}

.wine-watch-all > a {
    color: #B37F11 !important;
}

.portugal {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.portugal > div {
    flex: 1;
}

.portugal-heading {

}

.portugal .col-1 h2 {
    margin-bottom: 24px;
}

.portugal .col-1 p {
    margin-bottom: 120px;
}

.portugal .col-2 p {
    margin-top: 64px;
    margin-bottom: 24px;
}

.portugal-mobile-image {
    display: none;
}

.wine-blog-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.wine-blog-item-name {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 16px;
    font-size: 1.75rem;
    font-weight: 500;
}

.contact-us {
    display: flex;
    justify-content: flex-end;

}

.contact-us-card {
    max-width: 1280px;
    background: #F5EFE0;
    padding: 4rem;
    margin-top: 7.5rem;
    position: relative;
}

/*.contact-us-card::after {*/
/*    content: "";*/
/*    background: url("../assets/images/main/rectangle_33.png");*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*}*/

.contact-us-card > img {
    position: absolute;
    z-index: -5;
    top: 50%;
    transform: translateY(-50%);
    left: -70px;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 736px;
    margin-top: 4rem;
}

.wn-input {
    background: none;
    border: none;
    border-bottom: 1px solid #B37F11;
    padding: 16px 12px;
    font-size: 1.25rem;
    font-family: Vollkorn;
}

.wn-input:focus-visible {
    outline: none;
    border-bottom: 3px solid #553a03;
}

.contact-us-form > button {
    margin-top: 1.25rem;
}

/* main end */


/* main about.php start */

.about-hero > p {
    margin-top: 1.5rem;
}

.imgtext-section.reverse {
    flex-direction: row-reverse;
}


.imgtext-section {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.imgtext-section > div {
    flex: 1;
}

.wine-choice .imgtext-image > p {
    margin-bottom: 140px;
}

.wine-choice .imgtext-text > img {
    margin-bottom: 60px;
}

.wine-blog-category {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}

.wine-blog-category-item {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.wine-blog-category-item-desc {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.wine-blog-category-item-desc > h2 {
    margin-bottom: 0;
}


.article-container {
    max-width: 736px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0 auto;
}

.article-content {
    margin-top: 4rem;
}

.article-content h3 {
    text-transform: unset;
}

.wine-choice-mobile-image {
    display: none;
}

.wine-watch-all {
    width: 100%;
}

.hero-image button.button {
    width: 300px;
}

.footer > .container {
    padding: 40px;
}

/* main about.php end */

@media (max-width: 1199px) {
    html {
        font-size: 13px;
    }

    .container {
        padding: 0 20px;
    }

    .hero-image {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }
    .hero-image > img {
        margin-bottom: 24px;
    }

    .wn-heading {
        max-width: 70%;
        margin: 0 auto 4rem auto;
        display: flex;
    }

    h1.wn-heading > span {
        display: block;
    }

    h1.wn-heading > span:first-child > img, h1.wn-heading > span:last-child > img {
        width: 64px;
        height: 64px;
        max-width: unset;
    }
    h1.wn-heading > span:first-child, h1.wn-heading > span:last-child {
        width: 64px;
        height: 64px;
    }

    h2 > span > img {
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 576px) {
    p {
        font-size: 16px;
    }

    .header-nav-links {
        display: none;
        flex-wrap: wrap;
    }

    .header {
        padding: 16px;
    }

    .header-mobile-switcher {
        display: block;
    }

    .header-actions > .language-switcher {
        display: none;
    }

    .header-nav {
        gap: 11px;
        align-items: center;
    }

    h1, h2 {
        font-size: 44px;
        line-height: 1.05;
    }

    h1 > img, h2 > img {
        width: 32px;
        height: 32px;
    }
    
    .hero-heading {
        max-width: 355px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-heading::before {
        width: 32px;
        height: 32px;
        background-image: url(../assets/images/main_mobile/star.svg);
        left: 40px;
        top: 23%;
    }

    .hero-heading::after {
        width: 32px;
        height: 32px;
        background-image: url(../assets/images/main_mobile/star.svg);
        top: 23%;
        right:  40px;
    }
    .hero .button {
        position: unset;
    }
    .hero-text {
        position: unset;
        width: 100%;
        max-width: 100%;
    }
    button.button {
        width: 100%;
    }

    .history {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wine-catalog-inner {

    }

    .wine-item {
        max-width: 160px;
    }
    .wine-item-image {
        height: 230px;
    }
    .wine-item-image > img {
        height: 70%;
    }

    .wine-item-type {
        font-size: 12px;
        padding: 2px 8px;
        line-height: 1.6;
    }

    .wine-item-name {
        font-size: 16px;
    }

    .wine-item-percentage {
        font-size: 16px;
    }

    .wine-item-desc {
        font-size: 14px;
    }

    .wine-catalog-inner {
        justify-content: center;
    }

    .portugal {
        flex-direction: column;
    }

    .portugal-col-image {
        display: none;
    }

    .portugal-mobile-image {
        display: flex;
        justify-content: center;
    }

    .portugal-mobile-image > img {
        max-width: 100%;
    }

    .portugal .col-1 p {
        margin-bottom: 0;
    }

    .portugal .col-2 p {
        margin-top: 0;
    }

    .wine-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wine-blog-catalog {
        justify-content: center;
    }

    .wine-watch-all {
        width: 100%;
    }

    .contact-us-card > img {
        top: 10%;
    }

    .footer-nav {
        gap: 20px;
    }

    .footer > .container {
        padding: 40px 20px;
    }

    .main > .container {
        gap: 50px;
    }

    .wine-article-hero {

    }

    h1.wn-heading img {
        width: 32px;
        height: 32px;
    }

    h1.wn-heading {
        max-width: 80%;
        margin: 0 auto 4rem auto;
        display: flex;
    }

    h1.wn-heading > span {
        display: block;
    }

    h1.wn-heading > span:first-child, h1.wn-heading > span:last-child {
        width: 100%;
    }

    h1.wn-heading > span:first-child > img, h1.wn-heading > span:last-child > img {
        width: 32px;
        height: 32px;
    }

    h2 > span > img {
        width: 32px;
        height: 32px;
    }

    .about-page .imgtext-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-page .imgtext-section.reverse {
        flex-direction: column-reverse;
    }

    .wine-choice {
        flex-direction: column !important;
    }

    .wine-choice-image {
        display: none;
    }

    .wine-choice-mobile-image > img:last-child {
        margin-top: -200px;
    }

    .wine-blog-category-item-desc > a {
        display: none;
    }

    .wine-blog-category-item-desc {
        display: flex;
        justify-content: center;
    }

    .wine-blog-category-item-desc > h2 {
        font-size: 16px;
        font-family: 'Vollkorn', sans-serif;
        text-transform: unset;
        text-align: center;
        font-weight: 500;
    }

    .article-container {
        padding: 0 40px;
    }




}